body {
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.header {
  border-bottom: 1px solid grey;
  padding-left: 215px;
  padding-right: 215px;
}

.logotype {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
  margin-top: 24px;
  margin-bottom: 25px;
}

.logo-studio {
  color: #212121;
}

.navigation {
  display: flex;
  align-items: center;
  margin: 0px;
}

.navigation-list {
  display: flex;
  padding-left: 0px;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding-top: 32px;
  padding-bottom: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  border-bottom: 2px solid #ffffff;
  border-radius: 2px;
}

.navigation-list-link:hover {
  color: #2196f3;
  border-bottom: 2px solid #2196f3;
}

.navigation-list-link:focus {
  color: #2196f3;
  border-bottom: 2px solid #2196f3;
}

.current {
  color: #2196f3;
}

.header-tel-mail {
  margin: 0px;
  display: flex;
  margin-left: auto;
  padding: 0px;
}

.header-tel-mail-position {
  display: block;
  display: flex;
  justify-items: center;
  align-items: center;
}

.header-tel-mail-position:not(:last-child) {
  margin-right: 30px;
}

.header-mail-link-svg {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  fill: #757575;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.header-mail-link {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.header-mail-link:hover .header-mail-link-svg {
  fill: #2196f3;
}

.header-mail-link:focus .header-mail-link-svg {
  fill: #2196f3;
}

.header-mail-link:hover {
  color: #2196f3;
}

.header-mail-link:focus {
  color: #2196f3;
}

.header-tel-link {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.header-tel-link:hover {
  color: #2196f3;
}

.header-tel-link:focus {
  color: #2196f3;
}

.header-tel-link:hover .header-tel-link-svg {
  fill: #2196f3;
}

.header-tel-link:focus .header-tel-link-svg {
  fill: #2196f3;
}

.header-tel-link-svg {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  fill: #757575;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.portfolio-menu {
  padding: 94px 215px;
}

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
}

.nav-button {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid transparent;
  border-radius: 4px;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  padding: 6px 22px;
}

.nav-button:hover {
  color: #ffffff;
  background-color: #2196f3;
}

.nav-button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.nav-button.current {
  color: #2196f3;
}

.nav-items:not(:last-child) {
  margin-right: 8px;
}

.portfolio-examples {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:hover .overlay {
  transform: translateY(0%);
  overflow: visible;
  opacity: 1;
}

.portfolio-work {
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
  margin-right: 24px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-work-example {
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
  font-family: #212121;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.img-portfolio-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 0;
  overflow: hidden;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  pointer-events: none;
}

.img-portfolio-button {
  border: 1px solid #eeeeee;
}

.footer {
  padding-left: 215px;
  padding-right: 215px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  display: flex;
}

.logo-studio-footer {
  color: #ffffff;
}

.address-physical {
  display: block;
  margin-bottom: 9px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contacts {
  padding: 0px;
}

.address-mail-footer,
.address-tel-footer {
  display: block;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-mail-footer {
  margin-bottom: 9px;
}

.logotype-footer {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-adress {
  width: 246px;
  margin-left: 0;
  margin-right: 70px;
  padding-left: 15px;
  padding-right: 15px;
  color: #ffffff;
}

.footer-social {
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  margin-right: 94px;
}

.footer-social-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.social-footer {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 206px;
}

.social-list-footer-item-link {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list-footer-item-link:hover {
  background-color: #2196f3;
}

.social-list-footer-item-link:focus {
  background-color: #2196f3;
}

.social-list-footer-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-footer-item-link-svg {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 20px;
  height: 20px;
  fill: #fff;
}

.subscription {
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 12px;
}

.subscription:focus-within {
  border-color: #2196f3;
  border-radius: 4px;
}

.subscription-title {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscription-box {
  display: flex;
  justify-items: center;
  align-items: center;
}

.subscription-form {
  display: flex;
  justify-items: center;
  align-items: center;
}

.subscription-form-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-right: 12px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscription-button {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.subscription-svg {
  fill: #ffffff;
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
/*# sourceMappingURL=portfolio.css.map */